.home-persist-modal-selector {
    form {
        .row {
            width: 100%;
            display: flex;
            gap: 10px
        }
    }

    .buttons {
        width: 100%;
        background-color: #F7F7F7;
        padding: 20px 24px;
    }
}